<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="header">
        @RenderSection("header")
    </div>
    <div>
        @RenderSection("list")
    </div>
    <div id="main">
        @RenderBody()
    </div>
    <div id="footer">
        2022 SCNG lolololololololol
    </div>
</body>
</html>
