
@model DrugaMVC.Models.Student
@{
    ViewBag.Title = "TestRazorja";
}

<h1>Test razor sintakse</h1>
<h2>@DateTime.Now.ToLongDateString()</h2>  @*inline c#*@

@{
    string date = DateTime.Now.ToShortDateString();
    var sporočilo = "Tudi danes pospravljen";
}
<h2>Danes je @date</h2>
<h3>@sporočilo</h3>

@{
    string dathuum = DateTime.Now.ToShortDateString();
    var mesig = "Tudi danes zložen";
    @:Danes je @dathuum
    <br />
    <text>Danes je</text> @dathuum
    <br />
    @mesig
    <br />
}

@if (DateTime.IsLeapYear(DateTime.Now.Year))
{
    @DateTime.Now.Year <text> je prestopno leto</text>
}
else
{
    @DateTime.Now.Year <text> ni prestopno leto</text>
}
<br />
@for (int i = 0; i < 5; i++) { 
    @i.ToString() <br/>
}
<ul>
    <li>Student ID: @Model.StudentId</li>
    <li>Ime:        @Model.StudentName</li>
    <li>Starost:    @Model.Age</li>
</ul>