@model IEnumerable<Seminarska.Models.PlanDejavnosti>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nova dejavnost", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlaOpis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlaŠtDijakov)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlaCilji)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlaTrajanje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Področja.PodIme)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlaOpis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlaŠtDijakov)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlaCilji)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlaTrajanje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Področja.PodIme)
        </td>
        <td>
            @Html.ActionLink("Uredi", "Edit", new { id=item.PlaId }) |
            @Html.ActionLink("Podrobnosti", "Details", new { id=item.PlaId }) |
            @Html.ActionLink("Izbriši", "Delete", new { id=item.PlaId })
        </td>
    </tr>
}

</table>
